// viewport widths
$breakpoint-phone: 320px;
$breakpoint-lg-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-lg-tablet: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-hd-desktop: 1920px;
$breakpoint-uhd-desktop: 3840px;
