html,
body {
  background-color: $page-bkg-color;
  font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 500;
}

@media only screen and (min-width: $breakpoint-desktop) {
  $grid-sides: 15vw;

  .logo-the {
    font-family: $logoThe;
    font-size: 1rem;
  }
  .logo-chess {
    font-family: $logoChess;
    font-weight: 400;
    font-size: 3rem;
    text-decoration: none;
  }
  .logo-horse {
    font-family: $logo1;
    font-weight: 400;
    font-size: 3rem;
  }

  .header {
    .container {
      .header-center {
        a:hover,
        a:visited,
        a:link,
        a:active {
          color: black;
          text-decoration: none;
        }

        .logo-inner {
          text-align: center;
          border-bottom: 1px solid #000000;
        }
      }
    }
  }
}
