html,
body {
  background-color: #fff;
  font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: $breakpoint-desktop) {
  $grid-sides: 15vw;

  .logo-the {
    font-family: $logoThe;
    font-size: 1.4rem;
  }
  .logo-chess {
    font-family: $logoChess;
    font-weight: 400;
    font-size: 4.2rem;
    text-decoration: none;
  }
  .logo-horse {
    font-family: $logo1;
    font-weight: 400;
    font-size: 4.6rem;
  }

  .header {
    background-color: #fdfdfd;
    .container {
      .header-center {
        a:hover,
        a:visited,
        a:link,
        a:active {
          color: black;
          text-decoration: none;
        }

        .logo-inner {
          text-align: center;
        }
      }
      .header-right .header.btn {
        position: relative;
        color: #4e4e4e;
        padding: 0;
        border: 4px solid #888888;
        border-top: none;
        outline: none;
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: -6px -20px 35px #ffffff, -6px -10px 15px #ffffff,
          -20px 0px 30px #ffffff, 6px 20px 25px rgba(0, 0, 0, 0.274);
        transition: 0.13s ease-in-out;
        cursor: pointer;
        &:active {
          box-shadow: none;
        }
        &:hover {
          box-shadow: none;
          border: 4px solid #4e4e4e;
        }
      }
    }
  }

  .page {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -12px 12px 12px rgb(75, 75, 75), -2px 2px 2px rgb(61, 61, 61);
  }

  .footer {
    background-color: #cacaca;
    text-align: center;
  }
}
