@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Archivo+Narrow&display=swap");
@font-face {
  font-family: "Horse Regular";
  src: url("/fonts/Horse-Regular.ttf");
}

$logoThe: "Archivo Narrow", sans-serif;
$logoChess: "Aclonica", sans-serif;
$logoO: "Horse Regular", sans-serif;
