@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Archivo+Narrow&family=Poppins:ital,wght@0,200;0,300;0,500;0,700;1,800&display=swap");
@font-face {
  font-family: "Horse Regular";
  src: url("/fonts/Horse-Regular.ttf");
}

// logo
$logoThe: "Archivo Narrow", sans-serif;
$logoChess: "Aclonica", sans-serif;
$logo1: "Horse Regular", sans-serif;

// general fonts
$main-font: "Poppins", sans-serif;
