input[type="submit"],
button {
  height: 50px;
  min-width: 120px;
  border: 1px solid #424242;
  outline: none;
  background-color: #0a0a0a;
  color: #ffffff;
  text-shadow: 1px 0 1px #ff0000;
  cursor: pointer;
}
