.signin-view .container {
  width: min-content;
  margin: 0 auto;
  h2 {
    display: inline-block;
  }
  span .separator {
    display: block;
  }
  a {
    font-size: 12px;
    float: right;
  }
  .my-15 {
    margin: 20px 0 10px 0;
  }
}
