.signup-view .container {
  width: min-content;
  margin: 0 auto;
  h2 {
    display: inline-block;
  }
  span .separator {
    display: block;
  }
  a {
    font-size: 12px;
  }
  .my-15 {
    margin: 15px 0;
  }
  .auth-provider {
    background-color: white;
    border: none;
    outline: none;
  }
}
